.animals{
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    background-color: rgb(231, 221, 198);
    /* background-color: red; */
    overflow: auto;
    margin-bottom: 10px;
  }